work/
node_modules/
outputs/
android/.gradle/
android/build/
android/app/build/
android/local.properties
ios/App/App/public/
ios/App/App/capacitor.config.json
ios/App/DerivedData/
.env
.env.*
*.jks
*.keystore
*.p12
*.mobileprovision
